.popup-content-inner {
    padding: 8px;
}

.popup-content-inner img {
    border: 1px solid red;
}

.popup-content-inner h3 {
    margin: 0 0 8px 0;
    font-size: 20px;
    
}

.popup-content-inner p {
    margin: 0 0 8px 0;
    line-height: 1.5;
}

.popup-content-inner p:last-child {
    margin-bottom: 0;
}

.popup-content-monospace {
    font-family: "IBM Plex Mono", monospace;
}

.popup-content-monospace-2 {
    font-family: "Fixedsys", monospace;
}
